
*{
	border:0px;
	padding: 0px;
	margin: 0px;
	font-family: 'Boogaloo', serif;

}
body{
	background-image: url(images/wall.png);

}
#logo{
	margin: 10px;

}
#logotxt{
	position: relative;
	left: 100px;
	top: -60px;
}
#pagewrapper{
	padding:15px;
	height: 2000px;
	background-size: 100% 100%;
}
.navlink{
	position: relative;
	display: inline-block;
}
.navbardiv{
	border: 0px;
	padding: 1px 20px;
	background-color: gray;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {

   background-color: #00ceed;
}
