*{

	font-family: 'Boogaloo', serif;
	border:0px;
	padding: 0px;
	margin: 0px;
}
body{

}
#pagewrapper{

	height: 2000px;
	background-image: url(images/wall.png);
	background-size: 100% 100%;
}
.navlink{
	position: relative;
	display: inline-block;
}
.navbardiv{
	border: 0px;
	padding: 1px 20px;
	background-color: gray;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {

   background-color: #00ceed;
}
